<section class="about-block">
  <div class="about-container container">
    <p class="about-text">
      <span class="about-span">Yacht Adventures</span> fleet is here to take you
      on the ultimate adventure. Each yacht is hand-picked for its comfort,
      style, and performance.
    </p>
    <p>
      From spacious decks to state-of-the-art technology, our yachts are
      designed to provide the perfect blend of luxury and functionality. Take a
      look at our selection below and choose the yacht that matches your needs
      and preferences.
    </p>
    <p>
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable. Book now and get ready for an
      unforgettable adventure on the high seas.
    </p>
    <ul class="about-list">
      <li class="about-item">
        <picture>
          <img
            class="about-img"
            srcset="
              ./img/about/yaht1-phone@1x.png 1x,
              ./img/about/yaht1-phone@2x.png 2x
            "
            alt="yaht1"
            width="335"
            height="524"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht1-tablet@1x.png 1x,
              ./img/about/yaht1-tablet@2x.png 2x
            "
            type="image"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht1-desktop@1x.png 1x,
              ./img/about/yaht1-desktop@2x.png 2x
            "
            type="image"
          />
        </picture>
      </li>
      <li class="about-item">
        <picture>
          <img
            class="about-img"
            srcset="
              ./img/about/yaht2-phone@1x.png 1x,
              ./img/about/yaht2-phone@2x.png 2x
            "
            alt="yaht2"
            width="335"
            height="289"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht2-tablet-desktop@1x.png 1x,
              ./img/about/yaht2-tablet-desktop@2x.png 2x
            "
            type="image"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht2-tablet-desktop@1x.png 1x,
              ./img/about/yaht2-tablet-desktop@2x.png 2x
            "
            type="image"
          />
        </picture>
      </li>
      <li class="about-item">
        <picture>
          <img
            class="about-img"
            srcset="
              ./img/about/yaht3-all@1x.png 1x,
              ./img/about/yaht3-all@2x.png 2x
            "
            alt="yaht3"
            width="260"
            height="244"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht3-all@1x.png 1x,
              ./img/about/yaht3-all@2x.png 2x
            "
            type="image"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht3-all@1x.png 1x,
              ./img/about/yaht3-all@2x.png 2x
            "
            type="image"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
