<div class="container footer-container">
  <div class="footer-flex">
    <div class="footer-logo">
      <img
        class="footer-logo-img"
        src="./img/icons/ship_3x.png"
        alt="Logo"
        width="16"
        height="16"
      />
      <p class="footer-logo-text">yacht Adventures</p>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">About</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Yachts</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <p class="footer-social-title">We in social</p>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg class="footer-social-icon" width="18" height="18">
              <use href="./img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg class="footer-social-icon" width="18" height="18">
              <use href="./img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg class="footer-social-icon" width="18" height="18">
              <use href="./img/icons/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-privacy">
    <p class="footer-privacy-text">2023. Yacht Adventures</p>
    <p class="footer-privacy-text">Privacy Police</p>
  </div>
</div>
