<header>
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo-link" href="./index.html">
        <img
          class="yacht-icon header-yacht-icon"
          src="./img/icons/yacht-desktop-tabl.png"
          alt="yacht-icon"
        />
        <span class="header-logo-text">Yacht Adventures</span>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#yachts">Yachts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle-icon" width="24" height="24">
        <use href="./img/icons/icons.svg#icon-modal-menu"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Mobile menu -->

<div class="menu-container js-menu-container menu-decor" id="mobile-menu">
  <div class="modal-nav">
    <a class="header-logo-link logo-mobile link" href="./index.html">
      <img src="./img/icons/yacht-mobile.png" alt="yacht-icon" />

      <span class="header-logo-text">Yacht Adventures</span>
    </a>
    <button class="menu-toggle js-close-menu">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/icons/icons.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu-nav">
    <ul class="mobile-menu">
      <li class="mobile-item">
        <a class="mobile-link js-close-menu-1" href="#about"> About </a>
      </li>
      <li class="mobile-item">
        <a class="mobile-link js-close-menu-2" href="#yachts"> Yachts </a>
      </li>
      <li class="mobile-item">
        <a class="mobile-link js-close-menu-3" href="#reviews"> Reviews </a>
      </li>
    </ul>
  </div>

  <div class="blur-box">
    <div class="blur-circle1"></div>
    <div class="blur-circle2"></div>
  </div>
</div>
