<div class="header-container container">
  <nav class="header-nav">
    <a class="logo-header-link" href="">
      <img
      class="yacht-icon"
      srcset="./img/icons/yacht-desktop:tabl.png"
      width="24px"
      hight="24px"
      type="icon/png"
    />
        <span class="logo-header-text">Yacht Adventures</span>
    </a>
    <ul class="nav-list list">
      <li class="nav-item">
        <a class="nav-link active link" href="">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="">Yachts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="">Reviews</a>
      </li>
    </ul>
  </nav>
  <button
    class="menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="menu-toggle-icon" width="24" height="24">
      <use href="./img/icon/icon.svg#icon-modal-menu"></use>
    </svg>
  </button>
</div>
</header>
<!-- Mobile menu -->
<div class="menu-container js-menu-container menu-decor" id="mobile-menu">
  <div class="modal-nav">
  <a class="logo-header-link logo-mobile link" href="./index.html">
    <img src="./img/icons/yacht-mobile.png" alt="" />
      <span class="logo-header-text">Yacht Adventures</span>
  </a>

  <button class="menu-toggle js-close-menu">
    <svg class="modal-icon" width="24" height="24">
      <use href="./img/icon/icon.svg#icon-x-close"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li class="mobile-item">
      <a class="mobile-link active-mobile link" href="./index.html">
        About
      </a>
    </li>
    <li class="mobile-item">
      <a class="mobile-link link" href=""> Yachts </a>
    </li>
    <li class="mobile-item">
      <a class="mobile-link link" href=""> Reviews </a>
    </li>
  </ul>
  </div>

  <div class="blur-box">
    <div class="blur-circle1"></div>
    <div class="blur-circle2"></div>
  </div>

  </div>