<section class="hero">
    <div class="container">
       <div class="hero-text">
            <h1 class="hero-title">Explore the High Seas with <span class="hero-title-italic">Our Luxury Yacht</span> Rentals</h1> 
            <p class="hero-description">Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an
                 unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.
            </p>
            <div class="hero-buttons">
                <button class="button-started">Get Started</button>
                <a class="link-explore" href="">Explore</a>
            </div>
       </div> 
       <div class="hero-card">
            <div class="bg-hero-card">
                <div class="hero-circle"></div>
                <div class="hero-circle"></div>
                <div class="hero-circle"></div>
            </div>
            <div class="hero-clients">
                <div class="hero-faces">
                     <div calss="heroclient">
                        <img src="../img/hero/client1.png" alt="foto client" /> 
                     </div>
                     <div calss="heroclient">
                        <img src="../img/hero/client2.png" alt="foto client" />
                     </div>
                     <div calss="heroclient">
                        <img src="../img/hero/client3.png" alt="foto client" />
                     </div>
                </div>
                <p class="hero-text-clients">OUR CLIENTS</p>
            </div>
            <div class="hero-man"></div>
            <img class="hero-img-yaht" srcset="../img/hero/yaht@1x.png 1x, ../img/hero/yaht@2x.png 2x" alt="yaht">
            <div class="hero-card-description">
                <h2 class="hero-price">$12M</h2>
                <p class="hero-card-text">Book now and make your dream yacht rental a reality</p>
            </div>
       </div>
    </div>
</section>