<section class="services" id="services">
  <div class="container services-container">
    <h2 class="visually-hidden">Our services</h2>
    <ul class="services-list">
      <li class="services-sample">
        <picture>
          <source
            srcset="
              ./img/services/diving-desktop@x1.png 1x,
              ./img/services/diving-desktop@x2.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/diving-tablet@x1.png 1x,
              ./img/services/diving-tablet@x2.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/diving-mobile@x1.png 1x,
              ./img/services/diving-mobile@x2.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./img/services/diving-desktop@x1.png"
            alt="Diving"
            class="services-img"
          />
        </picture>
        <p class="services-title">Diving</p>
      </li>
      <li class="services-sample">
        <picture>
          <source
            srcset="
              ./img/services/fishing-desktop@x1.png 1x,
              ./img/services/fishing-desktop@x2.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/fishing-tablet@x1.png 1x,
              ./img/services/fishing-tablet@x2.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/fishing-mobile@x1.png 1x,
              ./img/services/fishing-mobile@x2.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./img/services/fishing-desktop@x1.png"
            alt="Fishing"
            class="services-img"
          />
        </picture>
        <p class="services-title">Fishing</p>
      </li>
      <li class="services-sample">
        <picture>
          <source
            srcset="
              ./img/services/sunbathing-desktop@x1.png 1x,
              ./img/services/sunbathing-desktop@x2.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/sunbathing-tablet@x1.png 1x,
              ./img/services/sunbathing-tablet@x2.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/services/sunbathing-mobile@x1.png 1x,
              ./img/services/sunbathing-mobile@x2.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./img/services/sunbathing-desktop@x1.png"
            alt="Sunbathing"
            class="services-img"
          />
        </picture>
        <p class="services-title">Sunbathing</p>
      </li>
    </ul>
  </div>
</section>
