<section class="YachtsBlock">
  <div class="YachtsBlock-container container">
    <!-- <div class="YachtsBlock-blur">
      <div class="YachtsBlock-blurCircle"></div>
      <div class="YachtsBlock-blurCircle-small"></div>
    </div> -->

    <h2 class="YachtsBlock-title" id="yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <div class="waves">
      <img
        class="waves-png"
        src="./img/YachtsBlock/LooperGroup.png"
        width="1508"
        alt="waves"
      />
    </div>

    <a href="#rent" class="YachtsBlock-button"> Yacht rental </a>

    <div class="swiper-container">
      <div class="swiper-button left">
        <svg class="arrow" width="18" height="8">
          <use href="./img/icons/icons.svg#icon-arrow-left"></use>
        </svg>
      </div>

      <!-- SLIIDE 1 -->
      <div class="first">
        <div class="swiper-slide first">
          <picture class="picture">
            <source
              srcset="
                ./img/YachtsBlock/desk/yaht.desk1-1x.png 1x,
                ./img/YachtsBlock/desk/yaht.desk1-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/YachtsBlock/tab/yaht.tab1-1x.png 1x,
                ./img/YachtsBlock/tab/yaht.tab1-2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/YachtsBlock/mob/yacht.mob1-1x.png 1x,
                ./img/YachtsBlock/mob/yacht.mob1-2x.png 2x
              "
              media="(min-width: 320px)"
              type="image/png"
            />
            <img
              src="./img/YachtsBlock/mob/yacht.mob1-1x.png"
              alt="Yaht ARROW"
            />
          </picture>

          <div class="swiper-title">
            <h3 class="yacht-name">Arrow</h3>
            <p class="luxury-yachts">LUXURY YAHTS</p>
          </div>

          <table>
            <tr>
              <td>LENGTH</td>
              <td class="second-row">48m(155ft)</td>
            </tr>
            <tr>
              <td>BUILDER</td>
              <td class="second-row">Admiral</td>
            </tr>
            <tr>
              <td>BUILT</td>
              <td class="second-row">2021</td>
            </tr>
            <tr>
              <td>GUESTS</td>
              <td class="second-row">11 in 5 cabins</td>
            </tr>
            <tr>
              <td>PRICE</td>
              <td class="second-row">€33,500,000</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- SLIDE 2 -->
      <div class="second">
        <div class="swiper-slide">
          <picture class="picture">
            <source
              srcset="
                ./img/YachtsBlock/desk/yaht.desk2-1x.png 1x,
                ./img/YachtsBlock/desk/yaht.desk2-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/YachtsBlock/tab/yaht.tab2-1x.png 1x,
                ./img/YachtsBlock/tab/yaht.tab2-2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/YachtsBlock/mob/yacht.mob2-1x.png 1x,
                ./img/YachtsBlock/mob/yacht.mob2-2x.png 2x
              "
              media="(min-width: 320px)"
              type="image/png"
            />
            <img
              src="./img/YachtsBlock/mob/yacht.mob2-1x.png"
              alt="Yaht BENETTI OASIS"
            />
          </picture>

          <div class="swiper-title">
            <h3 class="yacht-name">BENETTI OASIS 40M...</h3>
            <p class="luxury-yachts">LUXURY YAHTS</p>
          </div>

          <table>
            <tr>
              <td>LENGTH</td>
              <td class="second-row">41m (133ft)</td>
            </tr>
            <tr>
              <td>SHIPYARD</td>
              <td class="second-row">Benetti</td>
            </tr>
            <tr>
              <td>BUILT</td>
              <td class="second-row">2025</td>
            </tr>
            <tr>
              <td>GUESTS</td>
              <td class="second-row">10 in 5 cabins</td>
            </tr>
            <tr>
              <td>PRICE</td>
              <td class="second-row">€23,210,000</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- SLIDE 3 -->
      <div class="third">
        <div class="swiper-slide">
          <picture class="picture">
            <source
              srcset="
                ./img/YachtsBlock/desk/yaht.desk3-1x.png 1x,
                ./img/YachtsBlock/desk/yaht.desk3-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/YachtsBlock/tab/yaht.tab3-1x.png 1x,
                ./img/YachtsBlock/tab/yaht.tab3-2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/YachtsBlock/mob/yacht.mob3-1x.png 1x,
                ./img/YachtsBlock/mob/yacht.mob3-2x.png 2x
              "
              media="(min-width: 320px)"
              type="image/png"
            />
            <img
              src="./img/YachtsBlock/mob/yacht.mob3-1x.png"
              alt="Yaht BELLE ANNA"
            />
          </picture>

          <div class="swiper-title">
            <h3 class="yacht-name">BELLE ANNA</h3>
            <p class="luxury-yachts">LUXURY YAHTS</p>
          </div>

          <table>
            <tr>
              <td>LENGTH</td>
              <td class="second-row">50m(155ft)</td>
            </tr>
            <tr>
              <td>SHIPYARD</td>
              <td class="second-row">ISA</td>
            </tr>
            <tr>
              <td>BUILT</td>
              <td class="second-row">2012</td>
            </tr>
            <tr>
              <td>GUESTS</td>
              <td class="second-row">12 in 6 cabins</td>
            </tr>
            <tr>
              <td>PRICE</td>
              <td class="second-row">€21,000,000</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="swiper-button right">
        <svg class="arrow" width="18" height="8">
          <use href="./img/icons/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="swiper-buttons-container">
    <button type="button" class="swiper-button">
      <svg class="arrow" width="18" height="8">
        <use href="./img/icons/icons.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <button type="button" class="swiper-button">
      <svg class="arrow" width="18" height="8">
        <use href="./img/icons/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
