
        <section class="YachtsBlock">

         <!-- Js стилі для swiper-->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
        />
    
            <div class="YachtsBlock-container container">
                <div class="YachtsBlock-blur">
                    <div class="YachtsBlock-blurCircle">
                    </div>

                    <div class="YachtsBlock-blurCircle-small">
                    </div>
                </div>

                <h2 class="YachtsBlock-title">Choose your dream yacht and sail away into the sunset
                </h2>

                <a href="#">
                    <button type="button" class="YachtsBlock-button">Yacht rental</button>
                </a>

                <!-- Slider main container -->
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="slide-container">
                                <img class="YachtsBlock-img"
                                srcset="
                                ../img/YachtsBlock/mob/yacht.mob1-1x.png 1x,
                                ../img/YachtsBlock/mob/yacht.mob1-2x.png 2x"
                                src="../img/YachtsBlock/mob/yacht.mob1-1x.png" alt="Yaht in blue see" width="299"/>

                                <table>
                                    <tr>
                                        <td>LENGTH  </td>
                                        <td>41m (133ft)</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                        <div class="swiper-slide">
                            Slideeek
                        </div>

                        <div class="swiper-slide">
                            Slide 3
                        </div>
        
                    </div>
    
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
            
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        </section>
