
<section class="YachtsBlock">

    <!-- Js стилі для swiper-->
    <!-- <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    /> -->
    
    <div class="YachtsBlock-container container">

      <div class="YachtsBlock-blur">
          <div class="YachtsBlock-blurCircle"></div>
          <div class="YachtsBlock-blurCircle-small"></div>
      </div>

      <!-- <div>
        <svg class="desk-svg" width="" height="">
          <use href=""></use>
        </svg>
      </div> -->

      <h2 class="YachtsBlock-title">Choose your dream yacht and sail away into the sunset
        </h2>

      <a href="#rent">
          <button type="button" class="YachtsBlock-button">Yacht rental</button>
      </a>

        <!-- SLIIDE 1 -->
        <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob1-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob1-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob1-1x.png" alt="Yaht Arrow" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">Arrow</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH</td>
                    <td class="second-row">48m(155ft)</td>
                </tr>
                <tr>
                    <td>BUILDER </td>
                    <td class="second-row">Admiral</td>
                </tr>
                <tr>
                    <td>BUILT </td>
                    <td class="second-row">2021</td>
                </tr>
                <tr>
                    <td>GUESTS </td>
                    <td class="second-row">11 in 5 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">€33,500,000</td>
                </tr>
              </table>
        </div>

        <!-- SLIDE 2 -->
        <!-- <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob2-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob2-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob2-1x.png" alt="Yaht BENETTI OASIS" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">BENETTI OASIS 40M...</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH</td>
                    <td class="second-row">41m (133ft)</td>
                </tr>
                <tr>
                    <td>SHIPYARD</td>
                    <td class="second-row">Benetti</td>
                </tr>
                <tr>
                    <td>BUILT </td>
                    <td class="second-row">2025</td>
                </tr>
                <tr>
                    <td>GUESTS </td>
                    <td class="second-row">10 in 5 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">€23,210,000</td>
                </tr>
              </table>
        </div> -->

        <!-- SLIDE 3 -->
        <!-- <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob3-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob3-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob3-1x.png" alt="Yaht BELLE ANNA" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">BELLE ANNA</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH </td>
                    <td class="second-row">50m(155ft)</td>
                </tr>
                <tr>
                    <td>SHIPYARD</td>
                    <td class="second-row">ISA</td>
                </tr>
                <tr>
                    <td>BUILT</td>
                    <td class="second-row">2012</td>
                </tr>
                <tr>
                    <td>GUESTS</td>
                    <td class="second-row">12 in 6 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">€21,000,000</td>
                </tr>
              </table>
        </div> -->

        <!-- SLIDE 4 -->
        <!-- <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob4-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob4-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob4-1x.png" alt="Yaht Ellen" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">Ellen</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH </td>
                    <td class="second-row">40m (132ft)</td>
                </tr>
                <tr>
                    <td>SHIPYARD</td>
                    <td class="second-row">Perini Navi</td>
                </tr>
                <tr>
                    <td>BUILT</td>
                    <td class="second-row">2001 / 2016 (refitted)</td>
                </tr>
                <tr>
                    <td>GUESTS</td>
                    <td class="second-row">9 in 4 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">€9,300,000</td>
                </tr>
              </table>
        </div> -->

        <!-- SLIDE 5 -->
        <!-- <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob5-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob5-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob5-1x.png" alt="Yaht MIRAGE 401" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">MIRAGE 401</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH </td>
                    <td class="second-row">38m (125ft)</td>
                </tr>
                <tr>
                    <td>SHIPYARD</td>
                    <td class="second-row">Gianetti Custom Yachts</td>
                </tr>
                <tr>
                    <td>BUILT</td>
                    <td class="second-row">2024</td>
                </tr>
                <tr>
                    <td>GUESTS</td>
                    <td class="second-row">10 in 5 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">€13,500,000</td>
                </tr>
              </table>
        </div> -->

        <!-- SLIDE 6 -->
        <!-- <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob6-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob6-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob6-1x.png" alt="Yaht KING" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">KING</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH</td>
                    <td class="second-row">33m (109ft)</td>
                </tr>
                <tr>
                    <td>SHIPYARD</td>
                    <td class="second-row">Overmarine</td>
                </tr>
                <tr>
                    <td>BUILT</td>
                    <td class="second-row">2004 / 2018 (refitted)</td>
                </tr>
                <tr>
                    <td>GUESTS</td>
                    <td class="second-row">9 in 4 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">€1,850,000</td>
                </tr>
              </table>
        </div> -->

        <!-- SLIDE 7 -->
        <!-- <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob7-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob7-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob7-1x.png" alt="Yaht SALT" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">SALT</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH</td>
                    <td class="second-row">32m (105ft)</td>
                </tr>
                <tr>
                    <td>BUILDER</td>
                    <td class="second-row">SanLorenzo</td>
                </tr>
                <tr>
                    <td>BUILT</td>
                    <td class="second-row">2019</td>
                </tr>
                <tr>
                    <td>GUESTS</td>
                    <td class="second-row">11 in 5 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">€7,800,000</td>
                </tr>
              </table>
        </div> -->

        <!-- SLIDE 8 -->
        <!-- <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob8-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob8-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob8-1x.png" alt="Yaht STORM" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">STORM</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH</td>
                    <td class="second-row">32m (103ft)</td>
                </tr>
                <tr>
                    <td>SHIPYARD</td>
                    <td class="second-row">Overmarine</td>
                </tr>
                <tr>
                    <td>BUILT</td>
                    <td class="second-row">2005 / 2022 (refitted)</td>
                </tr>
                <tr>
                    <td>GUESTS</td>
                    <td class="second-row">9 in 4 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">€2,900,000</td>
                </tr>
              </table>
        </div> -->

        <!-- SLIDE 9 -->
        <!-- <div class="swiper-slide">
            <img class="YachtsBlock-img"
            srcset="
             ../img/YachtsBlock/mob/yacht.mob9-1x.png 1x,
            ../img/YachtsBlock/mob/yacht.mob9-2x.png 2x"
            src="../img/YachtsBlock/mob/yacht.mob9-1x.png" alt="Yaht COLLU" width="299"/>

            <div class="swiper-title">
              <h3 class="yacht-name">COLLU</h3>
              <p class="luxury-yachts">LUXURY YAHTS</p>
            </div>

              <table>
                <tr>
                    <td>LENGTH</td>
                    <td class="second-row">29m (96ft)</td>
                </tr>
                <tr>
                    <td>SHIPYARD</td>
                    <td class="second-row">Ferretti</td>
                </tr>
                <tr>
                    <td>BUILT</td>
                    <td class="second-row">2014</td>
                </tr>
                <tr>
                    <td>GUESTS</td>
                    <td class="second-row">10 in 5 cabins</td>
                </tr>
                <tr>
                    <td>PRICE</td>
                    <td class="second-row">$4,300,000</td>
                </tr>
              </table>
        </div> -->


        <div class="swiper-buttons-container">
            <div class="swiper-button">
                <svg class="arrow" width="18" height="8">
                  <use href="../img/icons/icons.svg#icon-arrow-left"></use>
                </svg>
            </div>

            <div class="swiper-button">
                <svg class="arrow" width="18" height="8">
                    <use href="../img/icons/icons.svg#icon-arrow-right"></use>
                  </svg>
            </div>
        </div>

    </div>
</section>
