.about-container {
  padding: 0;
  margin: 0;
}
.about-container {
  position: relative;
}
.about-container::before {
  position: absolute;
  top: 1380px;
  left: -65px;
  z-index: -1;
  display: block;
  content: '';
  width: 255px;
  height: 255px;
  border-radius: 50%;
  background: #91afba;
  opacity: 0.6;
  filter: blur(100px);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 768px) {
  .about-container::before {
    position: absolute;
    top: 1438px;
    left: 40px;
    z-index: -1;
    width: 399px;
    height: 399px;
    border-radius: 399px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-container::before {
    position: absolute;
    top: 872px;
    left: 252px;
    z-index: -1;
    width: 414px;
    height: 414px;
    border-radius: 414px;
  }
}
.about-container::after {
  position: absolute;
  top: 1400px;
  left: 200px;
  z-index: -1;
  display: block;
  content: '';
  width: 195px;
  height: 195px;
  border-radius: 50%;
  background: #91afba;
  opacity: 0.3;
  filter: blur(100px);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 768px) {
  .about-container::after {
    position: absolute;
    background: #a6a9b2;
    top: 1448px;
    left: 460px;
    z-index: -1;
    width: 304px;
    height: 304px;
    border-radius: 304px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-container::after {
    position: absolute;
    top: 872px;
    left: 732px;
    z-index: -1;
    width: 316px;
    height: 315px;
    border-radius: 315px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-text-container {
    display: flex;
  }
}
.about-text {
  width: 330px;

  color: var(--white, #f6f5ef);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
}
@media only screen and (min-width: 768px) {
  .about-text {
    width: 514px;
    height: 152px;
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-text {
    margin-right: 302px;
    margin-bottom: 0;
  }
}
.about-span {
  color: var(--light-green, #93abae);
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
}
@media only screen and (min-width: 768px) {
  .about-span {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
.about-list {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .about-list {
    justify-content: flex-end;
    gap: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-list {
    padding-bottom: 24px;
  }
}
.about-item {
  padding: 40px 0;
  margin: 0;
  width: 160px;

  color: var(--white, #f6f5ef);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.28px;
}
@media only screen and (min-width: 768px) {
  .about-item {
    padding-top: 32px;
    padding-bottom: 64px;
    min-width: 183px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }
  .about-item-first {
    width: 183px;
  }
  .about-item-last {
    width: 185px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-item {
    width: 183px;
    padding: 0;
  }
}
.about-img-list {
  position: relative;
}
.about-img-item {
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .about-img-item {
    margin: 0;
  }
}

.about-img-item:not(:last-child) {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .about-img-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.about-img-last {
  position: relative;
  margin-left: auto;
  z-index: -10;
}
@media only screen and (min-width: 768px) {
  .about-img-second {
    position: relative;
  }
  .about-img-last {
    position: absolute;
    top: 200px;
    left: 340px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-img-list {
    height: 774px;
  }
  .about-img-first {
    position: absolute;
    left: 340px;
    z-index: -5;
  }
}
@media only screen and (min-width: 1280px) {
  .about-img-second {
    position: absolute;
    top: 253px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-img-last {
    position: absolute;
    top: 504px;
  }
}

@media only screen and (min-width: 1280px) {
}
