/*===============  
      Mobile 
================  */
.footer-container {
  border-top: 1px solid rgba(246, 245, 239, 0.20);
  position: relative;
}

.footer-container::after {
    position: absolute;
    top: 270px;
    left: 175px;
    z-index: -1;
    display: block;
    content: "";
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: #91afba;
    opacity: .6;
    filter: blur(100px);
    transform: rotate(-45deg);
   
}
    

.footer-flex{
    position: relative;
}

.footer-logo {
    padding: 41px 0;
}

.footer-logo-link{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--white);
    transition: color var(--animation);
}


.footer-logo-icon{
    /* fill: var(--linear-green);
    color: var(--linear-green); */
}

.footer-logo-text {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.64px;
    text-transform: uppercase;
}

.footer-logo-link:hover,
.footer-logo-link:focus {
    fill: var(--hover-green);
    color: var(--hover-green);
}

.footer-nav {}

.footer-nav-list {
    display: inline-flex;
    flex-direction: column;
    gap: 14px;

}

.footer-nav-link {
    color: var(--white);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;
    /* 16.52px */
    letter-spacing: 0.42px;
    text-transform: uppercase;
    transition: color var(--animation);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    color: var(--light-green);
}


.footer-social {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 0;
}

.footer-social-title {
    color: var(--white);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.footer-social-list {
    display: inline-flex;
    flex-direction: row;
    gap: 14px;
    list-style-type: none;
}

.footer-social-item{
    position: relative;
    width: 32px;
    height: 32px;
}

.footer-social-link {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.footer-social-bg-f{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(107deg, white, white);
    -webkit-mask-image: url(../img/icons/facebook.svg);
    mask-image: url(../img/icons/facebook.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background-image var(--animation);
}

.footer-social-bg-inst{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(107deg, white, white);
    -webkit-mask-image: url(../img/icons/instagram.svg);
    mask-image: url(../img/icons/instagram.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background-image var(--animation);
}

.footer-social-bg-y{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(107deg, white,white);
    -webkit-mask-image: url(../img/icons/yuotube.svg);
    mask-image: url(../img/icons/yuotube.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background-image var(--animation);
}

.footer-social-link:hover > .footer-social-bg-f,
.footer-social-link:focus > .footer-social-bg-f {
    background-image: var(--linear-gradient);
    -webkit-mask-image: url(../img/icons/facebook.svg);
    mask-image: url(../img/icons/facebook.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.footer-social-link:hover > .footer-social-bg-inst,
.footer-social-link:focus > .footer-social-bg-inst {
    background-image: var(--linear-gradient);
    -webkit-mask-image: url(../img/icons/instagram.svg);
    mask-image: url(../img/icons/instagram.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.footer-social-link:hover>.footer-social-bg-y,
.footer-social-link:focus>.footer-social-bg-y {
    background-image: var(--linear-gradient);
    -webkit-mask-image: url(../img/icons/yuotube.svg);
    mask-image: url(../img/icons/yuotube.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.footer-privacy {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: center;
}

.footer-privacy-text {
    color: rgba(246, 245, 239, 0.50);
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%
}

.footer-gradient {
    width: 420px;
    height: 420px;
    top: 250px;
    left: 65px;
    position: absolute;
    margin: 0;
    transform: rotate(-45.408deg);
    flex-shrink: 0;
    border-radius: 420px;
    opacity: 0.6;
    background: var(--light-green, #93ABAE);
    filter: blur(100px);
}

/*===============  
      Tablet 
================  */

@media screen and (min-width: 768px) {

    .footer-container {
        padding-top: 65px;
    }

    .footer-container::after {
          
        position: absolute;
        top: 260px;
        left: 425px;
        /* z-index: -1;
        display: block;
        content: "";
        width: 420px;
        height: 420px;
        border-radius: 50%;
        background: #91afba;
        opacity: .6;
        filter: blur(100px);
        transform: rotate(-45deg); */
     }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

    .footer-logo {
        padding: 65px 0;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .footer-logo-text {
       
        font-size: 18px;
        letter-spacing: 0.71px;
        text-transform: uppercase;
    }

    .footer-nav {
        display: inline-block;
        padding-top: 65px;
        padding-bottom: 100px;
    }

    .footer-nav-list {
        display: inline-flex;
        flex-direction: column;
        gap: 24px;
    }

    .footer-nav-link {
        color: var(--white, #F6F5EF);
        font-weight: 700;
        line-height: 118%;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }


    .footer-social {
        display: inline-flex;
        flex-direction: column;
        gap: 16px;
        padding: 65px 0;

    }

    .footer-social-title {
        color: var(--white, #F6F5EF);
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;

    }

    .footer-social-list {
        display: inline-flex;
        flex-direction: row;
        gap: 16px;
        list-style-type: none;
    }

    .footer-social-link {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .footer-social-icon {
        padding: 0;
        margin: 0;
        width: 22px;
        height: 22px;

    }
   
    .footer-privacy {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 14px;
        justify-content: center;
    }

    .footer-privacy-text {
        color: rgba(246, 245, 239, 0.50);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 118%;
        /* 14.16px */
        letter-spacing: 0.42px;
    }

    .footer-gradient {
        width: 420px;
        height: 420px;
        top: 250px;
        left: 340px;
        position: absolute;
        margin: 0;
        transform: rotate(-45.408deg);
        flex-shrink: 0;
        border-radius: 420px;
        opacity: 0.6;
        background: var(--light-green, #93ABAE);
        filter: blur(100px);
    }
}

/*===============  
      Desktop 
================  */

@media screen and (min-width: 1280px) {

    .footer-container {
        padding-top: 65px;
    }
    
    .footer-container::after {
    
        position: absolute;
        top: 260px;
        left: 280px;
        /* z-index: -1;
        display: block;
        content: ""; */
        /* width: 420px;
        height: 420px;
        border-radius: 50%;
        background: #91afba;
        opacity: .6;
        filter: blur(100px);
        transform: rotate(-45deg); */
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

        .footer-flex::after {
            position: absolute;
            width: 317px;
            height: 317px;
            top: 260px;
            left: 750px;
            z-index: -1;
            display: block;
            content: "";
            border-radius: 50%;
            background: #91afba;
            opacity: .6;
            filter: blur(100px);
            transform: rotate(-45deg);
    
             
        }

    .footer-logo {
        padding: 65px 0;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .footer-logo-img {
        width: 32px;
        height: 32px;
    }

    .footer-logo-text {
        font-family: DM Sans;
        font-size: 18px;
        letter-spacing: 0.71px;
    }

    .footer-nav {
        display: inline-block;
        padding-top: 65px;
        padding-bottom: 186px;
    }

    .footer-nav-list {
        display: inline-flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-nav-link {
        color: var(--white, #F6F5EF);
        font-weight: 700;
        line-height: 118%;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }


    .footer-social {
        display: inline-flex;
        flex-direction: column;
        gap: 16px;
        padding: 65px 0;

    }

    .footer-social-title {
        color: var(--white, #F6F5EF);
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;

    }

    .footer-social-list {
        display: inline-flex;
        flex-direction: row;
        gap: 16px;
        list-style-type: none;
    }

    .footer-social-item {}

    .footer-social-link {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
       
    }

    .footer-privacy {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 14px;
        justify-content: center;
    }

    .footer-privacy-text {
        color: rgba(246, 245, 239, 0.50);
        text-align: center;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.42px;
    }

    /* .footer-gradient {
        width: 420px;
        height: 420px;
        top: 250px;
        left: 280px;
        position: absolute;
        margin: 0;
        transform: rotate(-45.408deg);
        flex-shrink: 0;
        border-radius: 420px;
        opacity: 0.6;
        background: var(--light-green, #93ABAE);
        backdrop-filter: blur(100px);
    }

    .footer-gradient-right {
        width: 317px;
        height: 317px;
        top: 260px;
        left: 750px;
        position: absolute;
        margin: 0;
        transform: rotate(-45.408deg);
        flex-shrink: 0;
        border-radius: 420px;
        opacity: 0.6;
        background: var(--light-green, #93ABAE);
        filter: blur(100px);
    } */
}