/*----------------header---------------*/

.header-container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  float: none;
}

@media only screen and (max-width: 767px) {

  header {
    position: fixed;
    z-index: 998;
    width: 100%;
    background: linear-gradient(90deg, rgba(17,19,31,0) 0%, rgba(17,19,31,1) 5%, rgba(17,19,31,1) 95%, rgba(17,19,31,0) 100%);}
  }

@media only screen and (min-width: 768px) {
  
   .header-container{
    display: block;
    height: 87px;
  }
}

.header-container::after,
.modal-nav::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(246, 245, 239, 0.2);
  width: 335px;
  height: 1px;

  top: 72px;
  left: auto;
  right: auto;
}

@media only screen and (min-width: 768px) {
   .header-container::after{
    width: 704px;
    top:87px;
  }
}
@media only screen and (min-width: 1280px) {
   .header-container::after{
    width: 1216px;
  }
}

.header-nav {
  padding: 27px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
   .header-nav {
  padding: 32px 0;
}
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-yacht-icon{
  width: 18px;
  height: 18px;
}
@media only screen and (min-width: 768px) {
   .header-yacht-icon{
    width: 23px;
    height: 23px;
  }
}

.header-logo-text {
  color: var(--white);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .header-logo-text{
    font-size: 18px;
    letter-spacing: 0.71px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-list  {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
   .nav-list{
  display: flex;
  gap: 24px;
}
.nav-link {
  color: var(--white);
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  transition: color var(--animation);
} 
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active{
  color: var(--hover-green)
}



/*------------mobile menu--------------*/

.menu-toggle {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 0;
}

.menu-toggle:hover,
.menu-toggle:focus {
  
}

.menu-toggle-icon {
  fill: var(--white);
}

.menu-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  display: inline-flex;
  flex-direction: column;
}
.menu-container.is-open {
  opacity: 100%;
  visibility: visible;
  backdrop-filter: blur(200px);
  overflow: hidden;
  background-color: var(--dark-blue);
  z-index: 999;
  transform: translateX(-100%);
  transition: transform var(--animation), opacity var(--animation), visibility var(--animation);
}

.mobile-link:active.menu-container {
      transform: translateX(100%);

} 

@media only screen and (min-width: 768px) {
  .menu-container{
    display: none;
  }
  .menu-toggle{
    display: none;
  }
  .blur-box{
    display: none;
  }
}
.modal-nav {
  padding: 24px 20px;
  width: 375px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-nav{
  display: flex;
  justify-content: center;
}

.mobile-menu {
  color: var(--white);
  display: inline-flex;
  flex-direction: column;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 140px;
  align-items: center
}

.mobile-item{
  margin-bottom: 14px;
  z-index: 1;
}

.menu-container.is-open {
  transform: translateX(0);
}

.modal-close-icon {
  stroke-width: 1.3px;
  stroke: var(--white);
}

.blur-box{
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(200px);
}

.blur-circle1 {
  display: block;
  position: relative;
  width: 279px;
  height: 279px;
  background-color: #91afba;
  opacity: 0.6;
  border-radius: 50%;
  filter: blur(100px);
  transform: translateY(70%)translateX(-50%);
 
}
.blur-circle2{
  display: block;
  position: relative;
  width: 279px;
  height: 279px;
  background-color: #939cac;
  opacity: 0.6;
  border-radius: 50%;
  filter: blur(100px);
  transform: translateY(50%) translateX(60%);
}



