
.hero{
    margin-top: 40px;
}

@media only screen and (min-width: 768px) {
   .hero{
    margin-top: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .div-hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
    gap: 238px;
  }
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 332px;
    margin-bottom: 40px;
}

.hero-title {
    color: var(--white);
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.62px;
    margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
   .hero-title {
    width: 698px;
    font-size: 60px;
    letter-spacing: -2.7px;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 1280px) {
   .hero-title{
    width: 554px;
  }
}

.hero-title-italic {
    color: var(--light-green);
}

@media screen and (min-width: 768px) {
    .hero-text {
        width: 704px;
        margin-bottom: 64px;
    }
    .hero-title-italic {
        font-style: italic;
    }

}

.hero-description {
    color: var(--white);
    line-height: 1.4;
    letter-spacing: -0.28px;
    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .hero-description {
    width: 539px;
    font-size: 16px;
    letter-spacing: -0.32px;
    margin-bottom: 32px;
}
}

.hero-buttons {
    display: flex;
    gap: 8px;
}

.button-started {
    color: var(--white);
    width: 130px;
    height: 43px;
    font-weight: 700;
    letter-spacing: -0.63px;
    border-radius: 60px;
    background-color: var(--light-green);
    box-shadow: none;
    border: none;
    transition: background-color var(--animation);
}

.button-started:hover,
.button-started:focus {
    background-color: var(--hover-green);
}

.link-explore {
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.63px;
    width: 104px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    border: 1px solid var(--white);
    transition: color var(--animation),
                border-color var(--animation);
}


.link-explore:hover,
.link-explore:focus {
    color: var(--light-green);
    border-color: var(--light-green);
}

@media only screen and (min-width: 768px) {
  .button-started {
    font-size: 18px;
    width: 150px;
    height: 48px;
  }
  .link-explore {
    font-size: 18px;
    width: 117px;
    height: 48px;
  }
}

.hero-card {
    position: relative;
    
    background: url(../img/hero/card.png) center/cover no-repeat;
    max-width: 335px;
    height: 427px;
    border-radius: 24px;
    padding: 24px 24px 48px 24px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and
(min-resolution: 192dpi){
    .hero-card{
        background-image: url(../img/hero/card@2x.png);
    }
}
@media screen and (min-width: 768px) {
    .hero-card {
        background: url(../img/hero/card-desctop.png) center/cover no-repeat;
        max-width: 426px;
        height: 598px;
        padding: 32px 32px 64px 32px;
        margin-bottom: 100px;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and
        (min-resolution: 192dpi){
            .hero-card{
                background-image: url(../img/hero/card-desctop@2x.png);
                }
        }
}

@media screen and (min-width: 1280px) {
    .hero-card {
        margin-bottom: 164px;
        margin-top: 64px;
    }
}

.hero-card::after {
            position: absolute;
            top: 32px;
            left: -124px;
            z-index: -1;
            display: block;
            content: '';
            width: 279px;
            height: 279px;
            background: #91AFBA;
            border-radius: 50%;
            opacity: 0.6;
            filter: blur(100px);
}

@media only screen and (min-width: 768px) {
  .hero-card::after {
    top: 130px;
    left: -220px;
    width: 414px;
    height: 414px;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 1280px) {
    .hero-card::after {
        top: 164px;
        left: -285px;
        width: 414px;
        height: 414px;
        opacity: 0.6;
    }
    .hero-circle {
        position: absolute;
        top: 222px;
        left: -49px;
        z-index: -1;
        display: block;
        content: '';
        width: 414px;
        height: 414px;
        background: #91AFBA;
        border-radius: 50%;
        opacity: 0.6;
        filter: blur(100px);
    }
    .hero-circle::after {
        position: absolute;
        top: -36px;
        left: 340px;
        z-index: -1;
        display: block;
        content: '';
        width: 316px;
        height: 316px;
        background: #91AFBA;
        border-radius: 50%;
        opacity: 0.6;
        filter: blur(100px);
        }
}

.hero-clients {
    margin-bottom: 52px;
}

.hero-faces {
    display: flex;
    margin-bottom: 11px;
}

.heroclient {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 2px solid var(--light-green);
    margin-right: -8px;
}

.face1 {
    background: url(../img/hero/client1.png) center/cover no-repeat;
    z-index: 5;
}
.face2 {
    background: url(../img/hero/client2.png) center/cover no-repeat;
    z-index: 4;
}
.face3 {
    background: url(../img/hero/client3.png) center/cover no-repeat;
    z-index: 3;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and
(min-resolution: 192dpi){
    .face1{
        background-image: url(../img/hero/client1@2x.png);
    }
    .face2{
        background-image: url(../img/hero/client2@2x.png);
    }
    .face3{
        background-image: url(../img/hero/client3@2x.png);
    }
    
}

@media only screen and (min-width: 768px) {
    .hero-clients {
        margin-bottom: 111px;
        top: 32px;
        left: 32px;
    }
    .heroclient {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        margin-right: -11px;
    }
}

.hero-text-clients {
    color: var(--darl-blue);
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.hero-img-man {
    position: absolute;
    top: 35px;
    left: 214px;
    width: 133px;
    height: 133px;
    border-radius: 24px;
}

@media only screen and (min-width: 768px) {
  .hero-img-man {
    width: 233px;
    height: 233px;
    top: 32px;
    left: 339px;
  }
}

@media only screen and (min-width: 1280px) {
    .hero-img-man {
        left: 305px;
    }
}

.hero-img-yaht {
    width: 287px;
    height: 167px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .hero-img-yaht {
    width: 378px;
    height: 221px;
    margin-bottom: 22px;
  }
}

.hero-card-description {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-left: auto;
    margin-right: auto;
}

.hero-price {
    color: var(--dark-blue);
    font-size: 48px;
    letter-spacing: -2.16px;
    text-transform: uppercase;
}

.hero-card-text {
    color: var(--dark-blue);
    line-height: 140%;
    letter-spacing: -0.63px;
    width: 169px;
}

@media only screen and (min-width: 768px) {
  .hero-price {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
  .hero-card-text {
    font-size: 18px;
    letter-spacing: -0.81px;
    width: 208px;
  }
}
