.hero {}

.container {}

.div-hero {}

@media only screen and (min-width: 1280px) {
  .div-hero {
    display: flex;
    flex-direction: row-reverse;
    gap: 236px;
  }
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 335px;
    margin-bottom: 40px;
}

.hero-title {
    color: var(--white);
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2.7px;
    margin-bottom: 14px;
}

.hero-title-italic {
    color: var(--linear-green);
}

@media screen and (min-width: 768px) {
    .hero-text {
        width: 704px;
        margin-bottom: 64px;
    }
    .hero-title-italic {
        font-style: italic;
    }
    .hero-description {
        margin-right: 159px;
    }
}

.hero-description {
    color: var(--white);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
    margin-bottom: 24px;
}

.hero-buttons {
    display: flex;
    gap: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.81px;
}

.button-started {
    color: var(--white);
    padding: 14px 28px;
    border-radius: 60px;
    background-color: var(--light-green);
    box-shadow: none;
    border: none;
    transition: background-color 300ms ease-in-out;
}

.button-started:hover,
.button-started:focus {
    background-color: var(--hover-green);
}


.link-explore {
    color: var(--white);
    padding: 14px 28px;
    border-radius: 60px;
    border: 1px solid var(--white);
    text-decoration: none;
    transition: color 300ms ease-in-out,
                border-color 300ms ease-in-out;
}

.link-explore:hover,
.link-explore:focus {
    color: var(--light-green);
    border-color: var(--light-green);
}

.hero-card {
    position: relative;
    background: url(../img/hero/card.png) center/cover no-repeat;
    width: 335px;
    height: 427px;
    border-radius: 24px;
    padding: 24px 24px 48px 24px;
    margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
    .hero-card {
        background: url(../img/hero/card-desctop.png) center/cover no-repeat;
        width: 426px;
        height: 598px;
        padding: 32px 32px 64px 32px;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 768px) {
    .hero-card {
        background: url(../img/hero/card-desctop.png) center/cover no-repeat;
        margin-bottom: 164px;
    }
}

.hero-circle {
    background: #91AFBA;
    filter: blur(100px);
    z-index: -1;
}

.circle1 {
    width: 279px;
    height: 279px;
    border-radius: 279px;
    transform: rotate(-44.916deg);
    position: absolute;
    left: -181px;
    top: -25.85px;
}

.circle2 {
    display: none;

}

.circle3 {
    display: none;
}

@media only screen and (min-width: 768px) {
  .circle1 {
    width: 316px;
    height: 316px;
    border-radius: 316px;
    transform: rotate(-45.074deg);
    position: absolute;
    left: -46px;
    top: -29px;
  }
  .circle2 {
    display: block;
    width: 414px;
    height: 414px;
    border-radius: 3414px;
    transform: rotate(-44.094deg);
    position: absolute;
    left: -305px;
    top: -45.4px;
  }
}

@media only screen and (min-width: 1280px) {
    .circle1 {
        width: 316px;
        height: 316px;
        border-radius: 316px;
        transform: rotate(-45.074deg);
        position: absolute;
        left: 125px;
        top: 120px;
    }

    .circle2 {
        display: block;
        width: 414px;
        height: 414px;
        border-radius: 414px;
        transform: rotate(-44.094deg);
        position: absolute;
        left: 371px;
        top: 78px;
    }

    .circle2 {
        display: block;
        width: 414px;
        height: 414px;
        border-radius: 414px;
        transform: rotate(-44.094deg);
        position: absolute;
        left: 135px;
        top: 136px;
    }
}

.hero-clients {
    margin-bottom: 52px;
}

.hero-faces {
    display: flex;
    margin-bottom: 11px;
}

.heroclient {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 2px solid var(--light-green);
    margin-right: -8px;
}

.face1 {
    background: url(../img/hero/client1.png) center/cover no-repeat;
    z-index: 5;
    
}
.face2 {
    background: url(../img/hero/client2.png) center/cover no-repeat;
    z-index: 4;
}
.face3 {
    background: url(../img/hero/client3.png) center/cover no-repeat;
    z-index: 3;
}

@media only screen and (min-width: 768px) {
    .hero-clients {
        margin-bottom: 111px;
        top: 32px;
        left: 32px;
    }
    .heroclient {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        margin-right: -11px;
    }
}

.hero-text-clients {
    color: var(--darl-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.hero-img-man {
    position: absolute;
    top: 35px;
    left: 214px;
    width: 133px;
    height: 133px;
    border-radius: 24px;
}

@media only screen and (min-width: 768px) {
  .hero-img-man {
    width: 233px;
    height: 233px;
    top: 32px;
    left: 339px;
  }
}

@media only screen and (min-width: 1280px) {
    .hero-img-man {
        left: 305px;
    }
}

.hero-img-yaht {
    width: 287px;
    height: 167px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .hero-img-yaht {
    width: 378px;
    height: 221px;
    margin-bottom: 22px;
  }
}

.hero-card-description {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-left: auto;
    margin-right: auto;
}

.hero-price {
    color: var(--dark-blue);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -2.16px;
    text-transform: uppercase;
}

.hero-card-text {
    color: var(--dark-blue);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.63px;
}

@media only screen and (min-width: 768px) {
  .hero-price {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
  .hero-card-text {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}
