.block-review-container {
    padding-bottom: 80px;
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-container {
            padding-bottom: 100px;
        }
}

@media only screen and (min-width:1280px) {
    .block-review-container {
            padding-bottom: 164px;
        }
}

.block-review-enter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-enter {
        flex-direction: column;
        gap: 24px;
    }
}

@media only screen and (max-width:1279px) {
    .block-review-enter {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-enter {
        gap: 32px;
    }
}

.review-title-accent {
    font-style: italic;
    color: var(--light-green);
}

.block-review-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--white);
    letter-spacing: -1.08px;

    width: 497px;
}

@media only screen and (min-width:320px) and (max-width:374px) {
    .block-review-title {
        font-size: 20px;
        width: 280px;
    }
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-title {
        width: 335px;
    }
}

@media only screen and (min-width:768px) {
    .block-review-title {
        font-size: 32px;
        letter-spacing: -1.44px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-title {
        margin-left: 0;
        margin-right: auto;
    }
}

.block-review-desk {
    font-size: 14px;
    color: var(--white);
    letter-spacing: -0.28px;

    width: 273px;
}

@media only screen and (min-width:320px) and (max-width:374px) {
    .block-review-desk {
        font-size: 12px;
    }
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-desk {
        width: 335px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-desk {
        margin-right: 0;
        margin-left: auto;
    }
}

@media only screen and (min-width:768px) {
    .block-review-desk {
        font-size: 16px;
        letter-spacing: -0.32px;
    }
}

.block-review-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    margin-top: 64px;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-list {
        margin-top: 40px;
        gap: 24px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-list {
        gap: 16px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (min-width:1280px) {
    .block-review-list {
        gap: 32px;
    }
}

.block-review-item {
    display: flex;
    flex-direction: column;

    border-radius: 24px;
    background-color: var(--blue);

    width: 100%;
    align-items: center;

    padding: 32px;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-item {
        padding: 24px 16px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-item {
        width: 344px;
        height: 266px;
        padding: 24px 12px;
    }
}

@media only screen and (min-width:1280px) {
    .block-review-item {
        width: 384px;
        height: 282px;
    }
}

.block-review-img {
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02) inset;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-img {
        margin-bottom: 18px;
    }
}

@media only screen and (min-width:768px) {
    .block-review-img {
        width: 56px;
        height: 56px;
        margin-bottom: 24px;
    }
}

.review-people-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--white);
    letter-spacing: -0.72px;
    text-align: center;
    margin-bottom: 8px;
}

@media only screen and (min-width:768px) {
    .review-people-name {
        font-size: 18px;
        letter-spacing: -0.81px;
    }
}

.review-desk {
    font-size: 12px;
    letter-spacing: -0.24px;
    color: rgba(246, 245, 239, 0.50);
    width: 100%;
    text-align: center;
}

@media only screen and (max-width:374px) {
    .review-desk {
        width: 248px;
    }
}
    
@media only screen and (min-width:375px) and (max-width:767px) {
    .review-desk {
        width: 300px;
    }
}

@media only screen and (min-width:768px) {
    .review-desk {
        font-size: 16px;
        align-self: stretch;
        letter-spacing: -0.32px;
        width: 320px;
    }
}

.swiper-pagination-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 14px;

    background-color: transparent;
    border: none;
    padding: 0;
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .swiper-pagination-list {
        margin-top: 32px;
    }
}

@media only screen and (min-width:1280px) {
    .swiper-pagination-list {
        display: none;
    }
}

.swiper-paginatiom-icon {
    fill: var(--blue);
    filter: drop-shadow(2px 1px 3px rgba(24, 55, 91, 0.20));
    border-radius: 50px;
}

.swiper-paginatiom-icon:hover,
.swiper-paginatiom-icon:focus {
    fill: var(--hover-green);
    stroke-width: 1px;
    stroke: var(--light-green);
    box-shadow: 2px 2px 3px 0px rgba(79, 98, 120, 0.90) inset, 3px 3px 5px 0px rgba(213, 230, 245, 0.40) inset, 0px 0px 4px 0px rgba(46, 68, 87, 0.00) inset;
    filter: none;
    transition: var(--animation);
}

@media screen and (min-width:320px) and (max-width:767px) {
    .item-hidden-mob {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1279px) {
    .item-hidden-tab {
        display: none;
    }
}

.arrow-up-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.arrow-up-cont {
    position: sticky;
    bottom: 32px;
    text-align: right;
}
.back-to-top-button {
    position: sticky;
    bottom: 32px;
    margin-right: 0;
    margin-left: auto;
    transition: .4s cubic-bezier(.5,-0.45,.5,1.45);
}
.arrow-up-icon {
    width: 44px;
    height: 44px;
}

.back-to-top-button:hover,
.back-to-top-button:active {
    transform: scale(1.1);
}  

@media screen and (min-width:768px) {
    .arrow-up-icon {
        width: 68px;
        height: 68px;
        }
}