.block-review-enter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-enter {
        flex-direction: column;
        gap: 24px;
    }
}

@media only screen and (max-width:1279px) {
    .block-review-enter {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-enter {
        gap: 32px;
    }
}

.review-title-accent {
    font-style: italic;
}

.block-review-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--white);

    width: 497px;
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-title {
        width: 335px;
    }
}

@media only screen and (min-width:768px) {
    .block-review-title {
        font-size: 32px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-title {
        margin-left: 0;
        margin-right: auto;
    }
}


.block-review-desk {
    font-size: 14px;
    color: var(--white);

    width: 273px;
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-desk {
        width: 335px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-desk {
        margin-right: 0;
        margin-left: auto;
    }
}

@media only screen and (min-width:768px) {
    .block-review-desk {
        font-size: 16px;
    }
}

.block-review-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 64px;
    margin-bottom: 64px;
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-list {
        margin-top: 40px;
        gap: 16px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-list {
        gap: 16px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (min-width:1280px) {
    .block-review-list {
        flex-wrap: nowrap;
    }
}

.block-review-item {
    display: flex;
    flex-direction: column;

    border-radius: 24px;
    background-color: #11131f;

    width: 100%;
    align-items: center;
    gap: 8px;

    padding: 32px;
}

@media only screen and (min-width:320px) and (max-width:757px) {
    .block-review-item {

    }
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-item {
        padding: 24px 14px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-item {
        width: 344px;
        height: 266px;
        padding: 24px 12px;
    }
}

@media only screen and (min-width:1280px) {
    .block-review-item {
        width: 384px;
        height: 282px;
    }
}

.block-review-img {
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-img {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:768px) {
    .block-review-img {
        width: 56px;
        height: 56px;
    }
}

.review-people-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--white);
    text-align: center;
}

@media only screen and (min-width:768px) {
    .review-people-name {
        font-size: 18px;
    }
}

.review-desk {
    font-size: 12px;
    color: rgba(246, 245, 239, 0.50);
    width: 100%;
    text-align: center;
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .review-desk {
        width: 300px;
    }
}

@media only screen and (min-width:768px) {
    .review-desk {
        font-size: 16px;
        align-self: stretch;
    }
}