.block-review-section {
    margin-bottom: 43px;
}

@media screen and (min-width:768px) and (max-width:1279px) {
    .block-review-section {
            margin-bottom: 45px;
        }
}

@media screen and (min-width:1280px) {
    .block-review-section {
        margin-bottom: 64px;
    }
}

.block-review-container {
}

.block-review-enter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-enter {
        flex-direction: column;
        gap: 24px;
    }
}

@media only screen and (max-width:1279px) {
    .block-review-enter {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-enter {
        gap: 32px;
    }
}

.review-title-accent {
    font-style: italic;
    color: var(--light-green);
}

.block-review-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--white);
    letter-spacing: -1.08px;

    width: 497px;
}

@media only screen and (min-width:320px) and (max-width:374px) {
    .block-review-title {
        font-size: 20px;
        width: 280px;
    }
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-title {
        width: 335px;
    }
}

@media only screen and (min-width:768px) {
    .block-review-title {
        font-size: 32px;
        letter-spacing: -1.44px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-title {
        margin-left: 0;
        margin-right: auto;
    }
}

.block-review-desk {
    font-size: 14px;
    color: var(--white);
    letter-spacing: -0.28px;

    width: 273px;
}

@media only screen and (min-width:320px) and (max-width:374px) {
    .block-review-desk {
        width: 280px;
        font-size: 12px;
    }
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .block-review-desk {
        width: 335px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-desk {
        margin-right: 0;
        margin-left: auto;
    }
}

@media only screen and (min-width:768px) {
    .block-review-desk {
        font-size: 16px;
        letter-spacing: -0.32px;
    }
}

.block-review-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 64px;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-list {
        margin-top: 40px;
        gap: 24px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-list {
        column-gap: 16px;
        row-gap: 24px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (min-width:1280px) {
    .block-review-list {
        flex-wrap: nowrap;
        gap: 32px;
    }
}

.block-review-item {
    display: flex;
    flex-direction: column;

    border-radius: 24px;
    background-color: var(--blue);

    width: 100%;
    align-items: center;
    gap: 8px;

    padding: 32px;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-item {
        padding: 24px 16px;
    }
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .block-review-item {
        width: 344px;
        height: 266px;
        padding: 24px 12px;
    }
}

@media only screen and (min-width:1280px) {
    .block-review-item {
        width: 384px;
        height: 282px;
    }
}

.block-review-img {
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02) inset;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .block-review-img {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:768px) {
    .block-review-img {
        width: 56px;
        height: 56px;
    }
}

.review-people-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--white);
    letter-spacing: -0.72px;
    text-align: center;
}

@media only screen and (min-width:768px) {
    .review-people-name {
        font-size: 18px;
        letter-spacing: -0.81px;
    }
}

.review-desk {
    font-size: 12px;
    letter-spacing: -0.24px;
    color: rgba(246, 245, 239, 0.50);
    width: 100%;
    text-align: center;
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .review-desk {
    }
}

@media only screen and (min-width:768px) {
    .review-desk {
        font-size: 16px;
        align-self: stretch;
        letter-spacing: -0.32px;
    }
}

.arrow-up-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.arrow-up-cont {
    position: sticky;
    bottom: 32px;
    right: 32px;
    text-align: right;
}

.back-to-top-button {
    position: sticky;
    bottom: 32px;
    right: 32px;
    margin-right: 0;
    margin-left: auto;
    transition: .4s cubic-bezier(.5,-0.45,.5,1.45);
}



.arrow-up-icon {
    width: 44px;
    height: 44px;
}

@media screen and (min-width:768px) {
    .arrow-up-icon {
        width: 68px;
        height: 68px;
        }

    .back-to-top-button:hover,
    .back-to-top-button:active{
        transform: scale(1.1);
}  
}