/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-block.css');
@import url('./yahts-block.css');
@import url('./services-block.css');
@import url('./rent-block.css');
@import url('./reviews-block.css');
@import url('./footer.css');

@font-face {
  font-family: 'DM Sans';
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,500&display=swap');
}

:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;

  background-color: #1f212d;

  --dark-blue: #11131f;
  --blue: #1f212d;
  --light-green: #93abae;
  --white: #f6f5ef;
  --hover-green: #88b3b9;
  --linear-gradient: #bec7c2, #a1b5ba;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

/* Верстка адаптивна, окрім мобільних пристроїв. 
Точки перелому: - mobile: верстка гумова, 
стає адаптивною з 375px; - tablet: з 768px; - desktop: з 1280px */

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
