/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-block.css');
@import url('./yahts-block.css');
@import url('./services-block.css');
@import url('./rent-block.css');
@import url('./reviews-block.css');
@import url('./footer.css');

@font-face {
  font-family: 'DM Sans';
  src: url(./fonts/DMSans-VariableFont_opsz\,wght.ttf);


  /* src: url(../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf); 
  src: url(../fonts/DMSans-Regular.ttf);
  src: url(../fonts/DMSans-Medium.ttf);
  src: url(../fonts/DMSans-MediumItalic.ttf);
  src: url(../fonts/DMSans-Bold.ttf); */
}

:root {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;

  background-color: #11131F;

  --dark-blue: #11131f;
  --blue: #1f212d;
  --light-green: #93abae;
  --white: #f6f5ef;
  --hover-green: #88b3b9;
  --linear-gradient: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  --animation: .4s cubic-bezier(.5,-0.45,.5,1.45);
}

/* Верстка адаптивна, окрім мобільних пристроїв. 
Точки перелому: - mobile: верстка гумова, 
стає адаптивною з 375px; - tablet: з 768px; - desktop: з 1280px */

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
