:root {
    --title-font: 'DM Sans', sans-serif;
    --blue-2: #1F212D;
    --dark-blue: #11131F;
    --light-green: #93ABAE;
    --linear-green: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    --white: #F6F5EF;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
    max-width: 100%;
    height: auto;
}

/**
  |============================
  | YachtsBlock section
  |============================
*/
.YachtsBlock {
    background-color: var(--dark-blue);
    backdrop-filter: blur(200px);
}

.YachtsBlock-container {
    position: relative;
}

.YachtsBlock-blur {
    display: flex;
    position: absolute;
    left: -113px;
    top: -96.3px;
}

@media only screen and (min-width: 768px) {
  .YachtsBlock-blur {
    left: -49px;
    top: -174px;
  }
}

@media only screen and (min-width: 1280px) {
    .YachtsBlock-blur {
      right: 142px;
      top: -147px;
    }
  }

.YachtsBlock-blurCircle {
    width: 255px;
    height: 255px;
    transform: rotate(-44.916deg);
    background-color: #91AFBA;
    opacity: 0.6;
    filter: blur(100px);
}

@media only screen and (min-width: 768px) {
  .YachtsBlock-blurCircle {
    width: 399px;
    height: 399px;
    border-radius: 399px;
  }
}

@media only screen and (min-width: 1280px) {
    .YachtsBlock-blurCircle {
      width: 414px;
      height: 414px;
      border-radius: 414px;
    }
  }

.YachtsBlock-blurCircle-small {
    width: 195px;
    height: 195px;
    transform: rotate(-44.916deg);
    background-color: #A6A9B2;
    opacity: 0.3;
    filter: blur(100px);
}

@media only screen and (min-width: 768px) {
  .YachtsBlock-blurCircle-small {
    width: 304px;
    height: 304px;
    border-radius: 304px;
  }
}

@media only screen and (min-width: 1280px) {
    .YachtsBlock-blurCircle-small {
      width: 316px;
      height: 316px;
      border-radius: 316px;
    }
  }

.YachtsBlock-title {
    font-family: var(--title-font);
    color: var(--white);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.05em;
    margin-bottom: 40px;
    max-width: 310px;
}

@media only screen and (min-width: 768px) {
  .YachtsBlock-title {
    font-size: 70px;
    margin: 0 auto;
    max-width: 641px;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
    .YachtsBlock-title {
      font-size: 100px;
      max-width: 882px;
    }
  }

.YachtsBlock-button {
    width: 131px;
    height: 43px;
    border-radius: 60px;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    font-family: var(--title-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.045em;
    margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .YachtsBlock-button {
    margin-left: 32px;
  }
}

@media only screen and (min-width: 1280px) {
    .YachtsBlock-button {
      margin-left: 167px;
    }
  }
/**
  |============================
  | Swiper
  |============================
*/
.swiper-slide {
    max-width: 335px;
    background-color: var(--blue-2);
    border-radius: 24px;
    padding: 18px 18px 24px;
    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .swiper-slide {
    max-width: 344px;
    margin-bottom: 32px;
    padding: 16px 16px 32px;
  }
}

@media only screen and (min-width: 1280px) {
    .swiper-slide {
      max-width: 354px;
    }
  }

.swiper-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 6px;
}

@media only screen and (min-width: 768px) {
  .swiper-title {
    margin-bottom: 32px;
  }
}

.yacht-name {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    max-width: 177px;
}

.luxury-yachts {
color: var(--white);
font-size: 12px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.03em;;
text-transform: uppercase;
opacity: 0.5;
}

table {
    border-spacing: 0;
    border: 0px;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 0 6px 0;
    border-spacing: 0 6px;
}

@media only screen and (min-width: 768px) {
  table {
    margin: 0 16px 0;
  }
}

tr:not(:last-child) {
    border: 0px;
}

.second-row {
    padding-left: 32px;
}

.swiper-buttons-container {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.swiper-button {
    max-width: 46px;
    display: flex;
    padding: 14px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid var(--white);
}
